<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
</head>
<body>
    <div style="max-height: 800px;">
        <canvas id="userActivity"></canvas>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('userActivity');

  var chart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ .Logins }},
      datasets: [{
        label: '# of messages',
        data: {{ .Counts }},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<div hx-get="/chart_script" hx-trigger="every 5s"></div> 

 
</body>
</html>