<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
</head>

<body>
    <main>
        <h1>Hello!</h1>
        <ul class="f-switch dense">
            <li class="box"><a href="/myProfile"><h2>my profile</h2></a></li>
            <li class="box"><a href="/chatroom"><h2>let's chat!</h2></a></li>
            <li class="box"><a href="/charts"><h2>my charts</h2></a></li>
        </ul>
    </main>
</body>

</html>